@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
   
  /* background: url(../images/background.jpg) no-repeat center; */
  /* background-color: #cfa4e2; */
  /* background-color: #FAC9F8; */
  background-color: #FFECF2;
  /* height: 100vh; */
  color: #753422;
  /* min-height: 500px; */
  background-size: cover;
  /* background-attachment: fixed; */
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    border-top: 0px;
  }
  nav{
    width: 100%;
    height: 50px;
    padding: 10px;
    top:0%;
    font-style: normal;
    font-size: larger; 
    font-weight: bold;
    transition: .5s;
    position: fixed;
    background-color: #379BDA;

  }
  .select-box, .play-board, .result-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all o.4s ease;
  }
  .tic-tac-toe-game section{
    padding: 0px;
  }
  /* selection box */
  .select-box{
    margin-top: 45px;
    padding: 20px 25px 25px;
    border-radius: 5px;
    max-width: 330px;
    background-color: #E5FBB8; 
    width: 100%;
    /* top: 50%;
    left: 50%;
    position: absolute; */
    /* display: none; */
  }
  .select-box.hide{
    opacity: 0;
    pointer-events: none;
    
  }
  .select-box header{
    font-size: 23px;
    font-weight: 700;
    padding-bottom: 10px;
    border-bottom: 1px solid;
  }
  .select-box .title{
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .select-box .options{
    display: flex;
    width: 100%;
  }
  .options button{
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 0;
    background: #FE9898;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .options button.playerX{
    margin-right: 5px;
  }
  .options button.playerO{
    margin-left: 5px;
  }
  .options button:hover,
  .result-box .btn button:hover{
    transform: scale(0.96);
  }


  /* playboard */
  .play-board{
    opacity: 0;
    pointer-events: none;
  }
  .play-board.show{
    opacity: 1;
    pointer-events: none;
  }
  .play-board .details{
    margin-top: 80px;
    background: #fff;
  padding: 7px;
  border-radius: 5px;
  
  }
   
  .play-board .details .players{
  display: flex;
  width:100%;
  position: relative;
  justify-content: space-between;
  }
  .play-board .details span{
    color: #56baed;
    width: 100%;
    border-radius: 5px;
    padding: 7px 0;
    font-size: 19px;
    font-weight: 500;
    cursor: default;
    text-align: center;
    position: relative;
    z-index: 5;
    
  }
  .details span:first-child{
    color: #fff;
  }
  .play-board section{
    display: flex;
  }
  .details .slider{
    position: absolute;
    top:0;
    left: 0;
    height:100%;
    width: 50%;
    background: #56baed;
    border-radius: 5px;
    z-index: 2;
    transition: all 0.3s ease;
  }
  .players.active span:first-child{
    color: #56baed;
  }
  .players.active span:nth-child(2){
    color: #fff;
  }
  .players.active .slider{
    left: 50%;
  }
  .play-board .play-area{
    margin-top: 20px;
  }
  .play-board section span{
    display: block;
    margin: 2px;
    height: 80px;
    width: 80px;
    background: #FFBCBC;
    border-radius: 5px;
    font-size: 40px;
    text-align: center;
    line-height: 80px;
  }

  .result-box{
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 210px;
    display: none;
    margin-top: 80px;
  }
  .result-box .won-text{
  font-size: 25px;
  font-weight: 500;
  display: flex;
  }
  .result-box .won-text p{
    font-weight: 700;
    margin: 0 5px;
  }
  .result-box .btn{
    display: flex;
    margin-top: 20px;
    justify-content: center;
  }
  .result-box .btn button{
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 20px;
    background: #FE9898;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }